<button (click)="switchTheme()">theme</button>
<!-- <app-card [style.--primary-color]="colorRed" [style.--second-color]="'blue'">
</app-card>
<app-card style="--primary-color: pink; --second-color: aqua"> </app-card>
<app-card [style]="theme"> </app-card> -->
<app-card></app-card>
<app-card></app-card>
<!-- <app-card></app-card> -->
<!-- <div class="green">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere earum repellat
  quos iusto atque ad numquam? Maiores unde dolores tenetur consequuntur sequi
  cumque laboriosam! Illo expedita corrupti iste accusamus eaque.
</div> -->
